{
    "bridges": {
        "default_adapters": {
            "bridge-cmc": "http://adapter:8081",
            "bridge-cg": "http://adapter:8082",
            "bridge-tgo": "http://adapter:8083"
        },
        "ethereum_bridges": {
            "bridge-ebalance": "http://adapter:8084"
        },
        "price_feeds": {
            "bridge-bnc": "http://adapter:8085",
            "bridge-cc": "http://adapter:8086"
        }
    }
}