{
  "services": {
    "bootstrap": {
      "arbitrum": { "url": "https://0.0.0.0", "password": 0 },
      "avalanche": { "url": "https://0.0.0.0", "password": 0 },
      "base": { "url": "https://0.0.0.0", "password": 0 },
      "bsc": { "url": "https://0.0.0.0", "password": 0 },
      "celo": { "url": "https://0.0.0.0", "password": 0 },
      "ethereum": { "url": "https://0.0.0.0", "password": 0 },
      "fantom": { "url": "https://0.0.0.0", "password": 0 },
      "gnosis": { "url": "https://0.0.0.0", "password": 0 },
      "hedera": { "url": "https://0.0.0.0", "password": 0 },
      "ink": { "url": "https://0.0.0.0", "password": 0 },
      "linea": { "url": "https://0.0.0.0", "password": 0 },
      "mantle": { "url": "https://0.0.0.0", "password": 0 },
      "metis": { "url": "https://0.0.0.0", "password": 0 },
      "moonbeam": { "url": "https://0.0.0.0", "password": 0 },
      "optimism": { "url": "https://0.0.0.0", "password": 0 },
      "polygon": { "url": "https://0.0.0.0", "password": 0 },
      "ronin": { "url": "https://0.0.0.0", "password": 0 },
      "scroll": { "url": "https://0.0.0.0", "password": 0 },
      "solana": { "url": "https://0.0.0.0", "password": 0 },
      "soneium": { "url": "https://0.0.0.0", "password": 0 },
      "sonic": { "url": "https://0.0.0.0", "password": 0 },
      "starknet": { "url": "https://0.0.0.0", "password": 0 },
      "tron": { "url": "https://0.0.0.0", "password": 0 },
      "xlayer": { "url": "https://0.0.0.0", "password": 0 },
      "zkevm": { "url": "https://0.0.0.0", "password": 0 },
      "zksyc": { "url": "https://0.0.0.0", "password": 0 }
    },
    "ocr": {
      "arbitrum": { "url": "https://0.0.0.0", "password": 0 },
      "avalanche": { "url": "https://0.0.0.0", "password": 0 },
      "base": { "url": "https://0.0.0.0", "password": 0 },
      "bsc": { "url": "https://0.0.0.0", "password": 0 },
      "celo": { "url": "https://0.0.0.0", "password": 0 },
      "ethereum": { "url": "https://0.0.0.0", "password": 0 },
      "fantom": { "url": "https://0.0.0.0", "password": 0 },
      "gnosis": { "url": "https://0.0.0.0", "password": 0 },
      "hedera": { "url": "https://0.0.0.0", "password": 0 },
      "ink": { "url": "https://0.0.0.0", "password": 0 },
      "linea": { "url": "https://0.0.0.0", "password": 0 },
      "mantle": { "url": "https://0.0.0.0", "password": 0 },
      "metis": { "url": "https://0.0.0.0", "password": 0 },
      "moonbeam": { "url": "https://0.0.0.0", "password": 0 },
      "optimism": { "url": "https://0.0.0.0", "password": 0 },
      "polygon": { "url": "https://0.0.0.0", "password": 0 },
      "ronin": { "url": "https://0.0.0.0", "password": 0 },
      "scroll": { "url": "https://0.0.0.0", "password": 0 },
      "solana": { "url": "https://0.0.0.0", "password": 0 },
      "soneium": { "url": "https://0.0.0.0", "password": 0 },
      "sonic": { "url": "https://0.0.0.0", "password": 0 },
      "starknet": { "url": "https://0.0.0.0", "password": 0 },
      "tron": { "url": "https://0.0.0.0", "password": 0 },
      "xlayer": { "url": "https://0.0.0.0", "password": 0 },
      "zkevm": { "url": "https://0.0.0.0", "password": 0 },
      "zksyc": { "url": "https://0.0.0.0", "password": 0 }
    },
    "ccip": {
      "bootstrap": { "url": "https://0.0.0.0", "password": 0 },
      "ocr": { "url": "https://0.0.0.0", "password": 0 }
    },
    "mercury": {
      "production": { "url": "https://0.0.0.0", "password": 0 },
      "staging": { "url": "https://0.0.0.0", "password": 0 }
    },
    "mev": {
      "bootstrap": { "url": "https://0.0.0.0", "password": 0 },
      "ocr": { "url": "https://0.0.0.0", "password": 0 }
    },
    "ocr vpn": {
      "bsc": { "url": "https://0.0.0.0", "password": 0 },
      "ethereum": { "url": "https://0.0.0.0", "password": 0 }
    },
    "keystone": {
      "asset": { "url": "https://0.0.0.0", "password": 0 },
      "bootstrap": { "url": "https://0.0.0.0", "password": 0 },
      "chainwriter": { "url": "https://0.0.0.0", "password": 0 },
      "workflow": { "url": "https://0.0.0.0", "password": 0 }
    }
  }
}